# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

test script
test_api.py

#STANDARD STUFF
# macOS/Linux system files
.DS_Store

# Logs
*.log

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Build files
dist/
build/
*.egg-info/